@model IEnumerable<TomatoPizzaCafe.Models.Pizza>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <style>

        html
        {
            background-image: url('@Url.Content("~/images/tomatocafe.jpg")');
            background-position: center;
            background-repeat: no-repeat;
            background-size: auto;
            height: 50%
        }

        footer
        {
            position: fixed;
            bottom: 0;
        }
    </style>
</div>

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EightInchPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenInchPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwelveInchPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FourteenInchPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EighteenInchPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EightInchPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenInchPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TwelveInchPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FourteenInchPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EighteenInchPrice)
            </td>
            <td>
                <a asp-action="Order" asp-route-id="@item.PizzaId">Order</a> |
                <a asp-action="Edit" asp-route-id="@item.PizzaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PizzaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PizzaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
